.admin-avatar {
  width: 40px;
  height: 40px;
  border-radius: 90px;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.35);
  overflow: hidden;
  float: left;
}

.admin-avatar img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 960px) and (min-height: 640px) {
  .admin-avatar {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    float: none;
  }
}
