.left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9;
  background: white;
  transform: translateX(-90px);
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.left-panel.active {
  transform: translateX(0px);
}

.left-panel-control {
  width: 40px;
  height: 100px;
  background: orange;
  position: absolute;
  right:-40px;
  bottom: 20px;
  z-index: 11;
  cursor: pointer;
  border-radius: 2px;
}

@media (min-width: 960px) and (min-height: 640px) {
  .left-panel {
    width: 90px;
    height: 100%;
    display: block;
    padding: 0;
  }
}

.left-panel-buttons-wrapper {
  width: 160px;
  height: 60px;
  right: 0;
  top: 0;
  position: absolute;
}

@media (min-width: 960px) and (min-height: 640px) {
  .left-panel-buttons-wrapper {
    height: 180px;
    width: 180px;
    right: auto;
    left:0;
    top: 50%;
    margin-top: -90px;
  }
}
