.dashboard-button-wrapper {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414042;
  background: #e6e7e8;
  float: left;
  cursor: pointer;
}

.dashboard-button-wrapper:nth-child(2) {
  background: #ccc;
}


@media (min-width: 960px) and (min-height: 640px) {
  .dashboard-button-wrapper {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #414042;
    cursor: pointer;
    background: #e6e7e8;
    float: none;
  }
  .dashboard-button-wrapper:hover {
    color: white;
    background: #a7a9ac;
  }
}
