.right-panel {
  width: 238px;
  height: 100%;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  background: #ddd;
  transform: translateX(238px);
  transition: all 0.3s linear;
}

.right-panel.active {
  transform: translateX(0px);
}

.right-panel-control {
  width: 40px;
  height: 100px;
  background: orange;
  position: absolute;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.2s ease;
}

.right-panel-control.active {
  opacity: 1;
  transform: translateX(-40px);
}
